<% content_for :title do "Utilizar cupom" end %>

<div>
  <h6>Código do Cupom: <%= @coupon.code %></h5>
  Oferta: <%= @coupon.offer.title %>
</div>

<br/><br/>

<div>
  <h5>Dados do usuário</h5>
  Nome: <%= @coupon.user.name %>
  <br/>
  E-mail: <%= @coupon.user.email %>
</div>
<p align='center'>
<%= link_to 'Usar cupom', store_dashboard_coupon_use_path(@coupon.code), method: :post, class: 'btn' unless @coupon.used? %>
</p>
