<%= form_for [:admin_dashboard, @store] do |f| %>
  <div class="field">
    <%= f.label "Nome" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "Endereco" %><br />
    <%= f.text_area :address %>
  </div>

  <div class="field">
    <%= f.label "Fone" %><br />
    <%= f.text_area :phone %>
  </div>

  <div class="field">
    <%= f.label "Contact" %><br />
    <%= f.text_area :contact %>
  </div>

  <div class="field">
    <%= f.label "Name Preposition" %><br />
    <%= f.text_area :name_preposition %>
  </div>

  <div class="field">
    <%= f.label "CNPJ" %><br />
    <%= f.text_field :cnpj %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

