<h1>Lojas</h1>

<%=button_to "Nova Loja", new_admin_dashboard_store_path, :class=> "btn" %>
<h5>Lojas que estao vendendo mais</h5>
<div class="well">
</div>

<table class="table table-hover">
  <tr>
    <th>Nome</th>
    <th>CNPJ</th>
  </tr>

  <% @stores.each do |store| %>
    <tr>
      <td><%= link_to store.name, admin_dashboard_store_path(store) %></td>
      <td><%= store.cnpj %></td>
    </tr>
  <% end %>
</table>

