<%= form_for [:store_dashboard, @offer] do |f| %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description, cols: 100, rows: 5 %>
  </div>

  <div>
    <%= f.label :start_time %>
    <div id="div_start_time" class='input-append date'>
      <%= f.text_field :start_time, value: f.object.start_time %>
      <span class='add-on'><i data-time-icon='icon-time'></i></span>
    </div>
  </div>

  <div>
    <%= f.label :end_time %>
    <div id="div_end_time" class='input-append date'>
      <%= f.text_field :end_time, value: f.object.end_time %>
      <span class='add-on'><i data-time-icon='icon-time'></i></span>
    </div>
  </div>

  <div>
    <%= f.label :coupons_provided %>
    <%= f.text_field :coupons_provided %>
  </div>

  <div>
    <%= f.check_box :prices_defined %>
    <%= f.label :prices_defined %>

    <div id="price_fields">
      <%= f.label :original_price %>
      <%= f.text_field :original_price %>

      <%= f.label :current_price %>
      <%= f.text_field :current_price %>
    </div>

    <div>
      <%= f.label :discount %>
      <%= f.text_field :discount %>
    </div>
  </div>

  <%= f.submit "Salvar" %>

  <br/><br/>
  <div>
    <h5>*Campos de data e hora consideram o horário de Brasília</h5>
  </div>
<% end %>

<script type='text/javascript'>
  $('#div_end_time').datetimepicker(Promr.BOOTSTRAP_DATE_TIME_PICKER_FORMAT);
  $('#div_start_time').datetimepicker(Promr.BOOTSTRAP_DATE_TIME_PICKER_FORMAT);

  initPricingRules(<%= @offer.prices_defined? %>);

  function initPricingRules(pricesDefined) {
    var checkBoxDefinePrices = $('#offer_prices_defined');

    checkBoxDefinePrices.on('click', function() {
      togglePriceFields($(this).is(':checked'));
    });

    $('#offer_original_price, #offer_current_price').on('change', function() {
      calculateDiscount();
    });

    togglePriceFields(pricesDefined);
  }

  function calculateDiscount() {
    var originalPrice = $('#offer_original_price').val();
    var currentPrice = $('#offer_current_price').val();
    var discountInput = $('#offer_discount');

    if (originalPrice && currentPrice) {
      discountInput.val(Math.floor(100 - 100.00 / originalPrice * currentPrice));
    } else {
      discountInput.val('');
    }
  }

  function togglePriceFields(showPrices) {
    var priceInputs = $('#price_fields');
    showPrices ? priceInputs.show() : priceInputs.hide();
    $('#offer_discount').attr('disabled', showPrices);
  }
</script>
