<% content_for :title do "Ofertas" end %>
<div class="offers">
  <p> <%= link_to 'Criar oferta', new_store_dashboard_offer_path, class: 'btn' %> </p>
  <br/>

  <% if @offers %>
    <h2>Ofertas não finalizadas</h2>

    <table class="table table-hover">
      <thead>
          <th nowrap><%= label_for 'offer.title' %></th>
          <th nowrap><%= label_for 'offer.active_period' %></th>
          <th nowrap><%= label_for 'offer.coupons' %></th>
          <th nowrap><%= label_for 'offer.discount' %></th>
          <th nowrap><%= label_for 'offer.status' %></th>
          <th></th>
      </thead>
      <tbody>
      <% for offer in @offers do %>
        <% presenter = OfferPresenter.new(offer) %>
        <tr>
          <td><%= link_to offer.title, '#', data: { target: "#details_#{offer.id}", toggle: 'modal' } %></td>
          <td><%= offer.start_time %> à <br/><%= offer.end_time %></td>
          <td><%= presenter.offer_coupon_status %></td>
          <td><%= percentage(offer.discount) %></td>
          <td><%= presenter.offer_status %></td>
          <td>
            <%= link_to 'Ativar', store_dashboard_offer_activate_path(offer.id) if offer.can_activate? %>
            <%= link_to 'Desativar', store_dashboard_offer_deactivate_path(offer.id) if offer.can_deactivate? %>
            <%= link_to 'Editar', edit_store_dashboard_offer_path(offer.id) if offer.can_edit? %>
            <%= link_to 'Excluir', store_dashboard_offer_path(offer.id), class: "delete-link", method: :delete if offer.can_delete? %>
          </td>
        </tr>

        <div id="details_<%= offer.id %>" class="modal fade">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Detalhes da oferta</h3>
          </div>
          <div class="modal-body">
            <div><strong><%= label_for 'offer.title' %>:</strong> <%= offer.title %></div>
            <div><strong><%= label_for 'offer.coupons' %>:</strong> <%= presenter.offer_coupon_status %></div>
            <div><strong><%= label_for 'offer.status' %>:</strong> <%= presenter.offer_status %></div>

            <div>
              <strong><%= label_for 'offer.active_period' %>:</strong>
              <%= offer.start_time %> à <%= offer.end_time %>
            </div>

            <div><strong><%= label_for 'offer.discount' %>:</strong> <%= percentage(offer.discount) %></div>

            <% if offer.prices_defined? %>
              <div>
                <strong><%= label_for 'offer.price' %>:</strong>
                <%= "De #{currency(offer.original_price)} por #{currency(offer.current_price)}" %>
              </div>
            <% end %>

            <div><strong><%= label_for 'offer.description' %>:</strong><br/><%= simple_format(offer.description) %></div>
          </div>
        </div>

      <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<script type="text/javascript">
  $('tbody td a.delete-link').on('click', function() {
    if (!confirm('Deseja realmente excluir a oferta?')) {
      return false;
    }
  });
</script>
