<h1>Ofertas</h1>

<h5>Ofertas Mais Vendidas</h5>
<div class="well">

</div>

<h5>Todas as Ofertas</h5>
<table class="table table-hover">
  <tr>
    <th>Titulo</th>
    <th></th>
    <th></th>
  </tr>

  <% @offers.each do |offer| %>
    <tr>
      <td><%= offer.title %></td>
      <td><%= link_to 'Ver', "/admin_dashboard/offer/#{offer.id}" %></td>
      <td><%= link_to 'Editar', edit_admin_dashboard_offer_path(offer) %></td>
    </tr>
  <% end %>
</table>

