<h3> <%= I18n.t('store.list_long') %> </h3>

<% if @stores %>
  <% for store in @stores do %>
    <h3> <%= store.name %> </h3>
  <% end %>
<% else %>
  <h4><%= I18n.t('store.empty') %></h4>
<% end %>
