<h3><%= I18n.t('coupon.my') %>

<% if @coupons %>
  <ul>
    <% for coupon in @coupons do %>
      <li>
        <a href="<%= coupon_path(coupon.id) %>">
          <img src="/img/logo-promr.png" height="37" width="80"/>
          <h3><%= coupon.offer.title %></h3>
        </a>
        <ul>
          <li><%= coupon.offer.store.name %></li>
          <li><%= "#{I18n.t('offer.end_time')}: #{coupon.offer.end_time}" %></li>
        </ul>
      </li>
    <% end %>
  </ul>
<% else %>
  <h3><%= I18n.t('coupon.empty') %>
<% end %>
