<svg height="50" width="50">
  <!--borda-->
  <circle fill="transparent" cx="50%" cy="50%" r="23" stroke="#C9C9C9" stroke-width="1"/>

  <!--mascara-->
  <mask id="mask_small">
    <circle fill="white" cx="50%" cy="50%" r="21"/>
  </mask>

  <!--photo-->
  <image mask="url(#mask_small)" height="50" width="50" xlink:href="<%= image_url %>"/>
</svg>
