<svg height="100" width="100">
  <!--borda-->
  <circle fill="transparent" cx="50%" cy="50%" r="47" stroke="#C9C9C9" stroke-width="1"/>

  <!--mascara-->
  <mask id="mask_medium">
    <circle fill="white" cx="50%" cy="50%" r="45"/>
  </mask>

  <!--photo-->
  <image mask="url(#mask_medium)" height="100" width="100" xlink:href="<%= image_url %>"/>
</svg>
