<svg height="50" width="50">
  <!--borda-->
  <circle fill="transparent" cx="50%" cy="50%" r="23" stroke="#C9C9C9" stroke-dasharray="10,5" stroke-width="1"/>
  <!--blank picture-->
  <circle fill="#CCC" cx="50%" cy="50%" r="21"/>
</svg>
