<% if flash[:notices] %>
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <% for message in flash[:notices] %>
      <p class="notice"><%= message %></p>
    <% end %>
  </div>
<% end %>

<% if flash[:errors] %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <% for message in flash[:errors] %>
      <p class="error"><%= message %></p>
    <% end %>
  </div>
<% end %>

<%= flash.discard(:notices); flash.discard(:errors); flash.discard(:warning) %>
