<!-- JavaScript -->
<%= javascript_include_tag "before-jquery.mobile", :media => "all" %>
<%= javascript_include_tag "jquery.mobile", :media => "all" %>

<!-- CSS -->
<%= stylesheet_link_tag "jquery.mobile", :media => "all" %>
