<%= form_for [:admin_dashboard, @store_user] do |f| %>
  <div class="field">
    <%= f.label "Nome" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "E-mail" %><br />
    <%= f.text_area :email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

