<h1>Lojistas</h1>

<%=button_to "Novo Lojista", new_admin_dashboard_store_user_path, :class=> "btn" %>
<table class="table table-hover">
  <tr>
    <th>Nome</th>
    <th></th>
  </tr>

  <% @store_users.each do |user| %>
    <tr>
      <td><%= link_to user.name, admin_dashboard_store_user_path(user) %></td>
    </tr>
  <% end %>
</table>
