<%= content_for :title do %>
  <h2>Dúvidas, reclamações, sugestões?</h2>
<% end %>

<div id="wrap-contato" class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <form id="contato">
        <fieldset>
          <legend>Será um prazer ouvir você.</legend>
          <label>Nome</label>
          <input type="text" class="span" placeholder="Digite seu nome...">
          <label>Email</label>
          <input type="email" class="span" required placeholder="Digite seu email...">
          <label>Mensagem</label>
          <textarea rows="7" class="span" required placeholder="Escreva sua mensagem aqui..."></textarea><br />
          <button type="submit" class="btn btn-success">Enviar</button>
        </fieldset>
      </form>
    </div>
    <div id="follow-buttons" class="span6">
      <p>
        <!--add pela web-->
        <a class="btn btn-large btn-block btn-primary visible-desktop" href="https://www.facebook.com/promroficial">Adiciona a gente no Facebook</a>
        <!--add pela app-->
        <a class="btn btn-large btn-block btn-primary hidden-desktop" href="fb://page/456991587727749">Adiciona a gente no Facebook</a>
      </p>
      <p><a class="btn btn-large btn-block btn-danger">Estamos também no Google+</a></p>
      <p><a class="btn btn-large btn-block btn-info">Saiba das novidades pelo Twitter</a></p>
      <p id="termos-contato">
        Esse site oferece um serviço personalizado de lorem ipsum dolor sit amet sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.
      </p>
      <p><a href="#" class="btn btn-large btn-block">Leia nossos termos de serviço</a></p>
    </div><!--/follow-buttons-->
  </div><!--/row-fluid-->
</div><!--/container-fluid-->
