<%= content_for :title do %>
  <h2>Adeus compras coletivas.</h2>
  <h3>Chegou o jeito divertido de comprar!</h3>
<% end %>

<video controls>
  <source src="video/video.mp4" type="video/mp4">
  <source src="video/video.ogg" type="video/ogg">
  Não há suporte para video.
</video>
