<%
content_for :head do
  facebook_meta_tags "fb:app_id" => "216417948482839",
    "og:locale" => "pt_BR",
    "og:type" => "promrapp:offer",
    "og:url" => request.url,
    "og:title" => "\"#{@offer.title}\"",
    "og:image" => "https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png",
    "promrapp:store_name" => @offer.store.name,
    "promrapp:store_name_prep" => @offer.store.name_preposition
end
%>

<div class="row well">
  <h2><%= @offer.title %></h2>
  <p><%= @offer.store.name %></p>
    <span><%= I18n.t('offer.end_time') %>: </span>
    <span><%= @offer.end_time %></span>
    <p>
      <%= link_to I18n.t("offer.new_coupon"), offer_new_coupon_path(@offer.id), method: :put %> </p>
    <p><%= render 'shared/facebook_like' %></p>
</div>
