<%= content_for :title do 'Área Administrativa' end %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="login-form">
    <div class="control_group">
      <%= f.email_field :email, placeholder: "E-mail", class: "login-field", autofocus: true, required: true %>
    </div>

    <div class="control-group">
      <%= f.password_field :password, placeholder: "Senha", class: "span10 login-field", required: true %>
    </div>

    <% if false && devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <%= f.submit 'Entrar', class: "btn btn-info btn-large btn-block" %>

    <%= render "admin_users/shared/links" %>
  </div>
<% end %>
