<div class="box">
  <div class="box-cabecalho">
    <p class="titulo-box pull-left">Minha Rede <span class="badge"><%= @top_friends.size %></span></p>
    <div class="clearfix"></div>
  </div>

  <% @top_friends.each do |friend| %>
    <div class="thumb-rede pull-left">
      <a title="<%= friend.name %>" href="<%= user_profile_path(friend.id) %>" class="tooltipo" data-placement="top"></a>
      <%= render 'shared/framed_picture-small', image_url: friend.image_url %>
    </div>
  <% end %>

  <div class="clearfix"></div>

  <div class="box-footer">
    <form class="navbar-search" action="">
      <p><input type="text" class="search-query" placeholder="Pesquisar amigos"></p>
    </form>
    <div class="clearfix"></div>
    <p><a href="<%= friends_path %>" class="btn btn-primary btn-block disabled">Ver tudo</a></p>
    <p><a href="#" class="btn btn-success btn-block">Convidar Amigos</a></p>
  </div>

  <div class="clearfix"></div>
</div>
