<div class="box">
  <div class="box-cabecalho">
    <p class="titulo-box pull-left">Minhas Conquistas <span class="badge"><%= @top_badges.size %></span></p>
    <div class="clearfix"></div>
  </div>

  <% @top_badges.each do |badge| %>
    <div class="thumb-rede pull-left">
      <a title="<%= badge.title %>" href="#" class="tooltipo" data-placement="top" ></a>
      <%= render 'shared/framed_picture-small', image_url: badge.image_url %>
    </div>
  <% end %>

  <div class="clearfix"></div>

  <div class="box-footer">
    <p><a href="#" class="btn btn-primary btn-block disabled">Ver tudo</a></p>
  </div>

  <div class="clearfix"></div>
</div>
