<div class="box">
  <div class="photo-phrame">
    <%= render 'shared/framed_picture-medium', image_url: current_user.image_url %>
  </div>

  <div id="dados-user">
    <p class="nome titulo-box"><%= current_user.name %></p>
    <p>
      <span><strong>Pontos:&nbsp;</strong></span><span class="badge">430 / 500</span>
      <span><strong>Nível:&nbsp;</strong></span><span class="badge">3</span>
    </p>

    <div id="karma" class="progress active progress-success">
      <div class="bar" style="width: 80%"></div>
    </div>

    <a href="<%= edit_user_profile_path %>" class="btn btn-block btn-warning">Editar Perfil</a>
  </div><!--/dados-user-->
</div><!--box-->
