<h1>Amigos do Facebook</h1>

<div>
<% @friends.each do |friend_hash| %>
  <% friend = OpenStruct.new(friend_hash) %>
  <div class="thumb-rede pull-left">
    <a href="<%= friend.profile_url %>" target="_blank"></a>
    <%= render 'shared/framed_picture-small', image_url: friend.pic_square %>

    <div>
      <p class="nome titulo-box"><%= friend.name %></p>
      <%= hidden_field_tag :friend_id, friend.uid %>
    </div>
  </div>
<% end %>
</div>

<div class="clearfix"></div>
