<% facebook_presenter = FacebookFriendsPresenter.new(current_user) %>
<h1>Meus Amigos</h1>

<div class="lista-amigos">
  <ul class="nav nav-tabs" id="friends_tabs">
    <li class="active"><a href="#promr_friends">Promr</a></li>
    <li><a href="#facebook_friends">Facebook</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="promr_friends">
      <% @friends.each do |friend| %>
        <div class="friend-card pull-left">
          <div class="friend-photo">
            <img src="<%= friend.image_url %>" width="172" height="172" alt="Nome do Amigo" title="Nome do Amigo">
          </div>
          <div class="friend-details">
            <p class="friend-name"><a href="#">Francisco Marley Dieb</a></p>
          </div><!--/friends-details-->
        </div><!--/friend-card-->
      <% end %>
    </div>

    <div class="tab-pane" id="facebook_friends">
      <p class="subtitulo-busca">Adicionar amigos que já fazem parte do Promr</p>

      <% facebook_presenter.friends_signed_up.each do |friend| %>
        <div class="friend-card pull-left">
          <div class="friend-photo">
            <img src="<%= friend.promr_user.image_url %>" width="172" height="172" alt="Nome do Amigo" title="Nome do Amigo">
          </div>
          <div class="friend-details">
            <p class="friend-name">
              <a href="<%= user_profile_path(friend.promr_user.id) %>"><%= friend.promr_user.name %></a>
            </p>
            <a href="#" class="btn btn-block btn-primary">
              <i class="icon-plus icon-white"></i> Adicionar
            </a>
          </div><!--/friends-details-->
        </div><!--/friend-card-->
      <% end %>

      <div class="clearfix"></div>
      <p class="subtitulo-busca">Convidar amigos para o Promr</p>

      <% facebook_presenter.friends_not_signed_up.each do |friend| %>
        <div class="friend-card pull-left">
          <div class="friend-photo">
            <img src="<%= friend.pic_square %>" width="172" height="172" alt="Nome do Amigo" title="Nome do Amigo">
          </div>
          <div class="friend-details">
            <p class="friend-name">
              <a href="<%= friend.profile_url %>"><%= friend.name %></a>
            </p>
            <a href="#" class="btn btn-block btn-success">
              <i class="icon-envelope icon-white"></i> Convidar
            </a>
          </div><!--/friends-details-->
        </div><!--/friend-card-->
      <% end %>
    </div>
  </div>

  <div class="clearfix"></div>
</div>

<div class="clearfix"></div>
<script type="text/javascript">
  $('#friends_tabs a').on('click', function (e) {
    e.preventDefault();
    $(this).tab('show');
  });

</script>
