<h1>Promr Box</h1>
<h2>Cupons enviados por seus amigos</h2>

<div class="accordion" id="accordion-promrbox">

  <% @offer_shares.each do |share| %>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle btn pull-left" data-toggle="collapse" data-parent="#accordion-promrbox" href="#linha_<%= share.id %>"><i class="icon-plus"></i></a>
        <span class="pull-left"><strong>Enviado por:&nbsp;</strong>
          <a href="<%= user_profile_path(share.from_user.id) %>"><%= share.from_user.name %></a>
        </span>
        <span class="pull-left"><strong>Loja:&nbsp;</strong>
          <a href="#"><%= share.offer.store.name %></a>
        </span>
        <span class="pull-left"><strong>Local:&nbsp;</strong>
          <a href="#"><%= share.offer.store.mall.name %></a>
        </span>

        <a title="Ignorar" href="#" class="btn btn-danger btn-mini pull-right tooltipo" data-placement="left">
          <i class="icon-remove icon-white"></i>
        </a>
        <div class="clearfix"></div>
      </div>

      <!--para deixar aberto, use a classe 'in' após o collapse-->
      <div id="linha_<%= share.id %>" class="accordion-body collapse <%= share.unread ? 'in' : '' %>">
        <div class="accordion-inner">
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="span2">
                <div class="logo-loja">
                  <a href="#"><img src="<%= share.offer.store.image.url %>" alt="Logo da Loja" title="Loja"/></a>
                </div><!--/logo-loja-->
                <div class="pontuacao-loja">
                  <p><span class="starred">&#9733;</span><span class="starred">&#9733;</span><span class="starred">&#9733;</span><span class="starred">&#9733;</span><span>&#9734;</span>
                  </p>
                </div><!--/pontuacao-loja-->
              </div><!--/span2-->

              <div class="span8">
                <div class="oferta-description">
                  <h3><a href="#"><%= share.offer.title %></a></h3>
                  <p class="description"><%= simple_format(share.offer.description) %></p>
                </div><!--/oferta-description-->

                <div class="ofertas-botoes">
                  <a href="#" class="btn btn-success"><i class="icon-thumbs-up icon-white"></i>&nbsp;Pegar</a>
                  <a href="#" class="btn btn-info"><i class="icon-info-sign icon-white"></i>&nbsp;Informações</a>
                  <a href="#" class="btn btn-warning"><i class="icon-camera icon-white"></i>&nbsp;Fotos</a>
                  <span class="label label-important"><strong>Válido até</strong> <%= share.offer.end_time %></span>
                </div><!--/ofertas-botoes-->
              </div><!--/span8-->

              <div class="span2">
                <div class="valor-oferta">
                  <% if share.offer.prices_defined? %>
                    <p><span><strong>De:&nbsp;</strong></span><%= currency(share.offer.original_price) %></p>
                    <p><strong>Por:</strong></p>
                    <p class="preco"><strong><%= currency(share.offer.current_price) %></strong></p>
                  <% else %>
                    <p class="preco"><strong><%= percentage(share.offer.discount) %></strong></p>
                  <% end %>
                </div>
              </div><!--/span2-->
            </div><!--/row-fluid *oferta-->
          </div><!--/container-fluid *oferta-->
        </div><!--/accordion-inner-->
      </div><!--/accordion-body-->
    </div><!-- accordion-->
  <% end %>
</div>
