<h1>Resultados da Busca</h1>
<h2>Resultados para: "<%= @search %>"</h2>

<div id="resultado-busca">
  <div class="bloco-resultado-busca">
    <p class="subtitulo-busca">Pessoas</p>
    <span class="label label-important"><%= @all_users.size %></span> Resultados para <strong>"<%= @search %>"</strong>

    <div class="resultado">
      <% @all_users.each do |user| %>
        <div class="row-fluid">
          <div class="thumb-medio span2">
            <a title="<%= user.name %>" href="<%= user_profile_path(user.id) %>" class="tooltipo" data-placement="top"></a>
            <%= render 'shared/framed_picture-small', image_url: user.image_url %>
          </div>

          <div class="descricao-busca span10">
            <h3><a href="<%= user_profile_path(user.id) %>"><%= user.name %></a></h3>
          </div>
        </div><!--/row-fluid-->
      <% end %>
    </div><!--/resultado-->

  </div><!--/bloco-resultado-busca-->

  <div class="bloco-resultado-busca">
    <p class="subtitulo-busca">Lojas</p>
    <span class="label label-important"><%= @all_stores.size %></span> Resultados para <strong>"<%= @search %>"</strong>

    <div class="resultado">
      <% @all_stores.each do |store| %>
        <div class="row-fluid">
          <div class="thumb-medio span2">
            <a title="<%= store.name %>" href="#" class="tooltipo" data-placement="top"></a>
            <%= render 'shared/framed_picture-small', image_url: store.image_url %>
          </div>

          <div class="descricao-busca span10">
            <h3><a href="#"><%= store.name %></a></h3>
          </div>
        </div><!--/row-fluid-->
      <% end %>
    </div><!--/resultado-->
  </div><!--/bloco-resultado-busca-->

  <div class="bloco-resultado-busca">
    <p class="subtitulo-busca">Ofertas</p>
    <span class="label label-important"><%= @all_offers.size %></span> Resultados para <strong>"<%= @search %>"</strong>

    <div class="resultado">
      <% @all_offers.each do |o| %>
        <div class="row-fluid">
          <div class="thumb-medio-cupom span2">
            <img src="/img/upload/cupom.svg" alt="Cupom">
          </div>

          <div class="descricao-busca span10">
            <h3><a href="#">Oferta de tal</a></h3>
          </div>
        </div><!--/row-fluid-->
      <% end %>
    </div><!--/resultado-->
  </div><!--/bloco-resultado-busca-->
</div><!--/resultado-busca-->
