/*
	Style Sheet Promr V.0.1
*/

/*font Style*/

body {font-family: 'Ubuntu', sans-serif; background-color:#FFF;}

/*GERAIS*/
h1,h2,h3,h4,h5,h6{margin-bottom:20px; color:#333;}
h1.titulo-admin{font-size: 28px;}
h3 {font-size:24px; font-weight: 700;}

/*LOGIN*/

.logo {background: url("/img/logo.png") no-repeat center center; margin-top: 45px; height: 106px;}
.logo p {text-indent: -9000px;}
.login-box{margin:50px auto; width:50%;}
.login-box .login-field {width:422px;}
.tile {border:1px solid #888; margin-bottom:15px;}

/*Menu Topo*/
.navbar-inner{border-radius: 0;}
.navbar-inner .logo-icone{
	background: url("/img/icone72x72.png") no-repeat center center;
	text-indent: -9000px;
	float:left;
	height: 72px;
	width: 72px;
	padding:5px;
}
.botao-sair{margin-top:28px !important; margin-right:20px;}

.navbar .container {margin-top:20px; margin-left:16px;}
.navbar .nav ul li {
      background-color:#CCC ;
}
.navbar .nav > li > ul{
	padding-top:4px;
}
.navbar .nav > li > ul:before {
      border-color: transparent transparent #CCC transparent;
      top: -5px;
  }
.navbar .nav ul a {
      color:#34495e;
 }
 .navbar .nav ul a:hover {
        background-color: #34495e;
        color:#FFF;
}
.navbar .nav > li > a:hover {
    color: #FC0;
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
  color: #FC0;
}

footer{padding:15px 20px; text-align: center;}

