@media (max-width: 767px) {

  body {
    background-color:#94B378;
    background-image: -moz-radial-gradient(50% 20%, circle contain, #BFD9A9, #94B378 100%);
    background-image: -webkit-radial-gradient(50% 20%, circle contain, #BFD9A9, #94B378 100%);
    background-image: -o-radial-gradient(50% 20%, circle contain, #BFD9A9, #94B378 100%);
    background-image: -ms-radial-gradient(50% 20%, circle contain, #BFD9A9, #94B378 100%);
    background-image: radial-gradient(50% 20%, circle contain, #BFD9A9, #94B378 100%);
    background-attachment: fixed;
  }

 article {width: 100%; margin: 0 auto;}
.navbar .btn-navbar {margin-top:45px;}
.navbar-responsive-collapse {background-color: rgba(6,6,6,0.4);}
.nav-collapse .nav > li {
    float: left;
    padding: 5px;
}
.nav-collapse .nav > li a{
    font-family: 'Arial', sans-serif;
    font-size:1.18em;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  background-color: #333;
}

.modal-header h3 {font-family: 'Arial', sans-serif;}