/********************************************************
*	Projeto: PROMR Web;
*	Autor: @pisandelli;
********************************************************/

/*GERAL*/
body {background: url("/img/assets/background-body.jpg") no-repeat left -30px; background-size:100%; background-attachment: fixed;}
h1,h2,h3,h4,h5,h6 {font-family: 'Satisfy', cursive; font-weight: normal;}
.popover .popover-title {font-family: 'Arial' sans-serif; font-size: 14px; color: #555;}
.popover-content {min-height: 28px;}

/*CABECALHO*/
header {height: 80px; margin-bottom: 80px;}
.brand {width: 170px; height: 75px; background: url("/img/assets/logo.png") no-repeat; text-indent: -9000px;}
.navbar-static-top .navbar-inner {background: none; border: none; box-shadow: none;}

/*menu superior*/
nav {margin-top:40px;}
.navbar .nav > li > a {font-family: 'Satisfy', cursive; font-size: 28px; font-weight:normal; color: #FFF; text-shadow: 1px 1px 1px rgba(82, 81, 82, 0.8); filter: dropshadow(color=#525152, offx=1, offy=1);}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {color: #FFEC00;}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {background-color:transparent; box-shadow: none; color: #FFEC00; text-decoration: none;}

/*Conteúdo*/
article {width: 50%; float: right; margin-right: 20px;}
#cabecalho-conteudo h2, #cabecalho-conteudo h3 {margin:0; color: #FFF; text-shadow: 1px 1px 1px rgba(82, 81, 82, 0.8); filter: dropshadow(color=#525152, offx=1, offy=1);}
#conteudo {background-color: rgba(255,255,255,0.8); color:#555; padding: 10px; margin-bottom: 20px;}
#conteudo video {width: 100%;}
#rodape-conteudo a {margin-right: 15px;}

/*Contatos*/
#wrap-contato {padding: 0;}
