/********************************************************
*	Projeto: PROMR Web;
*	Autor: @pisandelli;
********************************************************/

/*GERAL*/
body {background: url("../img/assets/squairy_light.png"); margin-top:100px;}
h1 {font-family: 'Rochester', cursive; font-weight: normal;}
h2 {font-size: 16px;}
.navbar-toolbar {margin-top: 31px;}



/*NAVEGACAO*/
/*logo*/
.navbar .brand {background: url("../img/assets/sacola.svg") no-repeat; font-family: 'Rochester', cursiva; font-weight: normal; color:#FFF; font-size: 28px; padding-left:25px;}
#controle-direita {float: right;}
#botao-mensagem {background: url("../img/assets/message.svg") no-repeat left center; width: 20px; height: 20px;}
#botao-promrbox {background: url("../img/assets/cupon.svg") no-repeat left center; width: 20px; height: 20px;}
header {margin-bottom:35px;}


/*COLUNA ESQUERDA*/
aside {padding:0 15px;}
.titulo-box {font-size: 14px; font-weight: bold;}
.box-cabecalho {margin-bottom: 15px;}
.box {background-color: #FFF; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border:1px solid #C9C9C9; padding:15px; margin-bottom:20px;}
.box .photo-phrame {text-align: center;}
.box .photo-phrame {}
.nome {text-align: center;}

/*Minha Rede*/
.thumb-rede {margin-right:5px;}
.thumb-rede a, .thumb-medio a {display: block; width: 50px; height: 50px; position: absolute;}
.thumb-medio a {width: 85px; height: 85px;}
.box-footer {margin-top:15px;}
.box-footer input[type="text"] {width: 190px;}

/*CONTEUDO*/
article {}
.accordion-heading span {display: block; padding: 8px 15px;}
.pontuacao-loja {font-size:20px; text-align: center;}
.oferta-description h3 {margin-top: 0; line-height: 1;}
span.starred {color:#FAA328;}
.valor-oferta {background-color: rgba(255,0,0,0.5); height: 117px; padding: 5px; color:yellow;}
.preco {font-size:215%;}
.logo-loja a {display: block; width:100%; height:100%;}

/*EDITAR PERFIL*/
#profile-edit-form {margin-top:35px;}

/*BUSCA*/
p.subtitulo-busca {display: block; width: 100%; padding: 0; margin-bottom: 20px; font-size: 21px; line-height: 40px; color: #333; border: 0; border-bottom: 1px solid #e5e5e5;}
.bloco-resultado-busca {margin-top:25px; }
.resultado .row-fluid{margin-top:15px; border-bottom: 1px dashed #CCC;}
.search-highlight {background: yellow;}

/*PERFIL PUBLICO*/
#thumbs-lojas div.logo-loja {float:left; margin-right:15px;}
#botoes-add {margin-top:25px;}

/*Meus Amigos*/
.lista-amigos {margin-top:25px;}
.friend-card {background-color: #FFF; margin: 20px; width: 170px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; overflow: hidden; border: 1px solid #D8D8D8;}
.friend-name {font-size: 13px; text-align: center; font-weight: bold;}
.friend-details {padding: 5px;}

/*OVERRIDE*/
.accordion-heading .accordion-toggle {margin:3px; padding: 4px 12px;}

input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus {
border-color: #EE5F5B;}
