<h1>Editar Perfil</h1>

<%= render 'shared/messages' %>
<%= form_for @user, as: :user, url: update_user_profile_path, method: 'put', id: 'profile-edit-form' do |f| %>
  <fieldset>

    <legend>Dados pessoais</legend>
    <div class="controls">
      <%= f.label :name %>
      <%= f.text_field :name, id: 'user_name', class: 'span6', placeholder: 'Francisco Marley Dieb' %>
    </div>

    <div class="controls controls-row">
      <% if false %>
      <div class="span3">
        <%= f.label :cpf %>
        <%= f.text_field :cpf, id: 'user_cpf', class: 'span12',
            pattern: '\d{3}\.\d{3}\.\d{3}-\d{2}', placeholder: '000.000.000-00' %>
      </div>
      <% end %>

      <div class="span4">
        <%= f.label :email %>
        <%= f.email_field :email, id: 'user_email', class: 'span12', placeholder: 'marley@gmail.com' %>
      </div>

      <div class="span2" id="container_birthdate">
        <%= f.label :birthdate %>
        <div id="div_birthdate" class='input-append date span9'>
          <%= f.text_field :birthdate, id: 'user_birthdate', class: 'span12' %>
          <span class='add-on'><i data-time-icon='icon-calendar'></i></span>
        </div>
      </div>
    </div>
  </fieldset>

  <% if false %>
    <fieldset>
      <legend>Alteração de senha</legend>

      <p><small>* Só preencha os campos abaixo se quiser alterar sua senha</small></p>

      <%= f.label :current_password %>
      <%= f.password_field :current_password, id: 'user_current_password' %>

      <%= f.label :password %>
      <%= f.password_field :password, id: 'user_password' %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation,  id: 'user_password_confirmation' %>
    </fieldset>
  <% end %>

  <div class="controls controls-row">
    <p><a href="#">Leia os nossos termos de serviço.</a></p>
    <p><a href="#">Saiba mais sobre a sua privacidade.</a></p>

    <button type="submit" class="btn btn-success"><i class="icon-ok icon-white"></i>&nbsp;Salvar</button>

    <a href="#" class="btn btn-danger"><i class="icon-remove icon-white"></i>&nbsp;Cancelar</a>
  </div>
<% end %>

<script type='text/javascript'>
  var birthdate_empty = <%= @user.birthdate.blank? %>;
  $('#div_birthdate').datetimepicker(Promr.BOOTSTRAP_DATE_PICKER_FORMAT);
  if (birthdate_empty) {
    $('#container_birthdate')
      .popover({
        placement : 'right',
        html: 'true',
        content: 'Preenchendo sua data de nascimento você tem acesso a ofertas especiais'
      })
      .popover('show')
      .on('click', function() { $(this).popover('destroy') });
  }
</script>
