<h1>Perfil Público</h1>

<div class="row-fluid">
  <div class="photo-phrame">
    <%= render 'shared/framed_picture-medium', image_url: @user.image_url %>
  </div>

  <div>
    <p class="nome titulo-box"><%= @user.name %></p>
    <p>
      <span><strong>Pontos:&nbsp;</strong></span><span class="badge">430 / 500</span>
      <span><strong>Nível:&nbsp;</strong></span><span class="badge">3</span>
    </p>

    <div id="karma" class="progress active progress-success">
      <div class="bar" style="width: 80%"></div>
    </div>
  </div>
</div><!--/row-fluid-->

<div id="botoes-add">
  <% if current_user.allow_invite?(@user) %>
    <a href="<%= invite_friend_path(@user.id) %> "class="btn btn-danger">
      <i class="icon-plus icon-white"></i> Adicionar
    </a>
  <% end %>
  <% if current_user.allow_cancel_invite?(@user) %>
    <a href="<%= cancel_invite_path(@user.id) %> "class="btn btn-warning">
       <i class="icon-remove icon-white"></i> Cancelar solicitacao de amizade
    </a>
  <% end %>
  <% if current_user.friend_with?(@user) %>
    <a href="<%= remove_friend_path(@user.id) %> "class="btn btn-success">
       <i class="icon-remove icon-white"></i> Desfazer amizade
    </a>
    <a href="<%= block_friend_path(@user.id) %> "class="btn btn-inverse">
       <i class="icon-ban-circle icon-white"></i> Bloquear amigo
    </a>
  <% end %>
  <% if current_user.blocked?(@user) %>
    <a href="<%= unblock_friend_path(@user.id) %> "class="btn btn-danger">
       <i class="icon-thumbs-up icon-white"></i> Desbloquear amigo
    </a>
  <% end %>
</div><!--/botoes-add-->

<fieldset>
  <legend>Lojas que ele(a) curte</legend>
  <div id="thumbs-lojas">
    <% @user.following_stores.each do |store| %>
      <div class="logo-loja">
        <a href="#">
          <img src="<%= store.image_url %>" alt="Logo da Loja" title="Loja"/>
        </a>
      </div>
    <% end %>
  </div>
</fieldset>
