<%= content_for :title do "Painel do Lojista" end %>
<h3> <%= current_store.name %> </h3>
<div class="well pull-left">
  <h4>Dar baixa em cupom</h4>
  <%= form_tag store_dashboard_use_coupon_path, method: :post, class: "form-inline" do %>
    <%= text_field_tag :code, nil, placeholder: "Código", class: "input-small" %>
    <%= submit_tag 'Enviar', class: "btn" %>
  <% end %>
</div>
