<%= content_for :title do "Seu Perfil" end %>
<style>
  #store_logo {
    float: right;
  }
  #store_logo a {
    display: block;
  }
  #store_logo img {
    margin: 0 auto;
    display: block;
  }
</style>
<div id="store_logo">
  <%= image_tag current_store.image.url %>
  <a href="#myModal" role="button" data-toggle="modal">Alterar Logo</a>
</div>

<div>
  <h4> Razao Social </h4>
  <%= current_store.name %>
  <h4> Loja Cadastrada </h4>
  <%= current_store.name %>
</div>

<!-- Button to trigger modal -->

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Alterar Logo</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" method="post" action="/store_dashboard/change_image">

      <div class="control-group">
        <label class="control-label" for="inputEmail">Foto</label>
        <div class="controls">
          <input type="file" id="image" name="image" placeholder="Nova Imagem" />
          <span class="help-inline">Tamanho ideal 125x125</span>
        </div>
      </div>
      <div class="pull-right">
        <button type="submit" class="btn">Fazer Upload</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
  </div>
</div>

