<%= content_for :title do "Estatisticas" end %>
<div>
  <img src="http://cdn1.iconfinder.com/data/icons/SUPERVISTA/business/png/256/column_chart.png"/>
  <ul>
    <li>Total: 300</li>
    <li>Vendidos: 200</li>
  </ul>
</div>

<div>
  <h2>Ofertas mais vendidas</h2>
  <ul>
    <li><a href="#"> Blusa Zefirelli by Pedro Pisandelli</a></li>
    <li><a href="#"> Calça super transada by Pedro Pisandelli</a></li>
    <li><a href="#"> Camisa Gola Polo</a></li>
  </ul>
</div>

<div>
  <h2>Usuários com mais compartilhamentos</h2>
  <ul>
    <li><a href="#">Pedro Pisandinha - 34</a></li>
    <li><a href="#">Rafael McLovin - 24</a></li>
    <li><a href="#">Franze Jr - 12</a></li>
  </ul>
</div>
