<!DOCTYPE html>
<html>
<head>
	<title>PROMR - Área Administrativa</title>
	<meta charset="utf-8">
  <!-- Optimized mobile viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
  <meta name="apple-mobile-web-app-capable" content="yes" />
	<%= csrf_meta_tags %>
	<link rel="shortcut icon" href="/favicon.ico">

  <%= stylesheet_link_tag 'bootstrap_and_overrides' %>
  <%= stylesheet_link_tag 'bootstrap-datetimepicker' %>
  <%= stylesheet_link_tag 'todc-theme.min' %>
  <%= stylesheet_link_tag 'admin_dashboard' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Rochester' %>

  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'bootstrap' %>
  <%= javascript_include_tag 'bootstrap-datetimepicker' %>
  <%= javascript_include_tag 'common' %>

  <!-- HTML5 IE Enabling Script -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5' %>
  <![endif]-->

</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">

  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="">Promr</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <% if admin_user_signed_in? %>
              <li> <%= link_to I18n.t('admin_dashboard.home'), admin_user_root_path %> </li>
              <li> <%= link_to I18n.t('admin_dashboard.store.manage'), admin_dashboard_stores_path %> </li>
              <li> <%= link_to I18n.t('admin_dashboard.store_user.manage'), admin_dashboard_store_users_path %> </li>
              <li> <%= link_to I18n.t('admin_dashboard.offer.manage'), admin_dashboard_offers_path %> </li>
              <li> <%= link_to I18n.t('user.logout'), destroy_admin_user_session_path %> </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <%= render 'shared/messages' %>
    <%= yield %>
  </div>
</body>
</html>
