<!DOCTYPE html>
<html>
<head>
	<title>PROMR - Área Administrativa</title>
	<meta charset="utf-8">
  <!-- Optimized mobile viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
  <meta name="apple-mobile-web-app-capable" content="yes" />
	<%= csrf_meta_tags %>
	<link rel="shortcut icon" href="/favicon.ico">

  <%= stylesheet_link_tag 'bootstrap_and_overrides' %>
  <%= stylesheet_link_tag 'bootstrap-datetimepicker' %>
  <%= stylesheet_link_tag 'todc-theme.min' %>
  <%= stylesheet_link_tag 'admin_dashboard' %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Ubuntu:400,700" %>

  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'bootstrap' %>
  <%= javascript_include_tag 'bootstrap-datetimepicker' %>
  <%= javascript_include_tag 'common' %>

  <!-- HTML5 IE Enabling Script -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5' %>
  <![endif]-->

</head>
<body>

<div class="container_fixed">

  <div class="logo"></div>

  <div class="login-box">
    <div class="tile">
      <h3 class="tile-title"><%= yield :title %></h3>
      <%= yield %>
    </div>
  </div>

</div>

</body>
</html>
