<!DOCTYPE html>
<html>
<head>
	<title>PROMR</title>
	<meta charset="utf-8">
	<meta name="description" content="Comprar ficou mais divertido" />
	<meta name="author" content="Promr Team">
	<meta name="keywords" content="promr, loja, cupon, e-commerce, social-commerce" />
  <!-- Optimized mobile viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
  <meta name="apple-mobile-web-app-capable" content="yes" />
	<%= csrf_meta_tags %>
	<link rel="shortcut icon" href="/favicon.ico">

  <%= yield :head %>

  <%= stylesheet_link_tag 'bootstrap_and_overrides' %>
  <%= stylesheet_link_tag 'bootstrap-datetimepicker' %>
  <%= stylesheet_link_tag 'todc-theme.min' %>
  <%= stylesheet_link_tag 'home' %>
  <%= stylesheet_link_tag 'home-responsive' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Satisfy' %>

  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'bootstrap' %>

  <!-- HTML5 IE Enabling Script -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5shiv' %>
  <![endif]-->

</head>
<body>
		<header>
			<div id="menu-topo" class="navbar navbar-static-top">
				<div class="navbar-inner">
					<div class="container">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
						<h1 id="logo" class="pull-left">
							<a class="brand" href="index.html">PROMR</a>
						</h1>
						<nav class="nav-collapse collapse navbar-responsive-collapse">
							<ul class="nav pull-right">
                <li><%= link_to 'Entrar', root_path, id: 'sign_up' %></li>
                <li><%= link_to 'Termos', terms_path %></li>
                <li><%= link_to 'Blog', '#' %></li>
                <li><%= link_to 'Contatos', contact_us_path %></li>
							</ul>
						</nav>
					</div><!--/container-->
				</div><!--/navbar-inner-->
			</div><!--/menu-topo-->
		</header>

    <%= render 'shared/messages' %>

    <article>
      <div id="cabecalho-conteudo">
        <%= yield :title %>
      </div>

      <div id="conteudo">
        <%= yield %>
      </div>

      <div id="rodape-conteudo">
        <div class="visible-desktop">
          <%= link_to user_omniauth_authorize_path(:facebook), class: "btn btn-primary pull-left", id: 'facebook' do %>
            <i class="icon-user icon-white"></i> Entrar com Facebook
          <% end %>
          <%= link_to 'http://play.google.com', class: "btn btn-inverse pull-left", id: 'android' do %>
            <i class="icon-download icon-white"></i> App para Android
          <% end %>
        </div>
        <div class="hidden-desktop">
          <%= link_to user_omniauth_authorize_path(:facebook), class: "btn btn-block btn-primary pull-left", id: 'facebook' do %>
            <i class="icon-user icon-white"></i> Entrar com Facebook
          <% end %>
          <%= link_to 'http://play.google.com', class: "btn btn-block btn-inverse pull-left", id: 'android' do %>
            <i class="icon-download icon-white"></i> App para Android
          <% end %>
        </div>
      </div>
    </article>

    <script id="login_methods" type="text/template">
      <%= link_to user_omniauth_authorize_path(:facebook), class: "btn btn-primary pull-left", id: 'facebook' do %>
        <i class="icon-user icon-white"></i> Entrar com Facebook
      <% end %>
    </script>

		<script type="text/javascript">
      var user_signed_in = <%= user_signed_in? %>;
      if (!user_signed_in) {
        //Pop over for coupons link
        $("#sign_up")
          .popover({
            placement : 'bottom',
            //title : 'Escolha como você quer entrar',
            html: 'true',
            content: $('#login_methods').html()
          })
          .on('click', function() {
            return false;
          });
      }
		</script>
  </body>
</html>
