<!DOCTYPE html>
<html>
<head>
	<title>PROMR - Área Administrativa</title>
	<meta charset="utf-8">
  <!-- Optimized mobile viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
  <meta name="apple-mobile-web-app-capable" content="yes" />
	<%= csrf_meta_tags %>
	<link rel="shortcut icon" href="/favicon.ico">

  <%= stylesheet_link_tag 'bootstrap_and_overrides' %>
  <%= stylesheet_link_tag 'bootstrap-datetimepicker' %>
  <%= stylesheet_link_tag 'todc-theme.min' %>
  <%= stylesheet_link_tag 'admin_dashboard' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Rochester' %>

  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'bootstrap' %>
  <%= javascript_include_tag 'bootstrap-datetimepicker' %>
  <%= javascript_include_tag 'common' %>

  <!-- HTML5 IE Enabling Script -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5' %>
  <![endif]-->

  <script type="text/javascript">
    $(document).ready(function() {
      // Highlight current menu items related to the current page:
      $("ul.nav li a[href|='<%= request.fullpath %>']").parents('li').addClass('active')
    });
  </script>

</head>
<body>

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">PROMR</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li> <%= link_to 'Início', store_user_root_path %> </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gerenciar<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li> <%= link_to 'Ofertas', store_dashboard_offers_path %> </li>
              <li> <%= link_to 'Cupons', store_dashboard_coupons_path %> </li>
            </ul>
          </li>
          <li> <%= link_to 'Perfil', store_dashboard_profile_path %> </li>
          <li> <%= link_to 'Ajuda', store_dashboard_help_path %> </li>
        </ul>
      </div>
    <%= link_to 'Sair', destroy_store_user_session_path, class: "btn btn-danger pull-right botao-sair", method: :delete %>
    </div>
  </div>
</div>


<div class="container central-area">
  <div class="content">
    <h1 class="titulo-admin"><%= content_for :title %></h1>

    <%= render 'shared/messages' %>

    <% if content_for? :right_column %>
      <!-- layout com duas colunas -->
      <div class="well col7 pull-left">
        <%= yield %>
      </div>
      <div class="well col4 pull-right">
        <%= content_for :right_column %>
      </div>
    <% else %>
      <!--Layout com uma coluna -->
      <div class="well span12">
        <%= yield %>
      </div>
    <% end %>

    <div class="clearfix"></div>
  </div>
</div>

<footer>
	<div class="disclaimer"><p>Promr &copy; 2013  Leia nossos <a href="#">termos de serviço.</p></a>
</footer>
</body>
</html>
