<% presenter = LoggedUserPresenter.new(current_user) %>

<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PROMR - A compra divertida!</title>

    <%= stylesheet_link_tag "bootstrap_and_overrides" %>
    <%= stylesheet_link_tag "bootstrap-datetimepicker" %>
    <%= stylesheet_link_tag 'todc-theme.min' %>
    <%= stylesheet_link_tag 'user_dashboard' %>
    <%= stylesheet_link_tag 'user_dashboard-responsive' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Rochester' %>

    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'bootstrap' %>
    <%= javascript_include_tag 'bootstrap-datetimepicker' %>
    <%= javascript_include_tag 'common' %>

    <!-- HTML5 IE Enabling Script -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag 'html5shiv' %>
    <![endif]-->
	</head>

	<body>
		<header>
			<!--menu-topo-->
			<div id="masterhead" class="navbar navbar-masterhead navbar-fixed-top navbar-inverse">
				<div class="navbar-inner">
					<div class="container">

						<!--Botão navbar-responsivo-->
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>

						<!--Logo Promr-->
            <a class="brand" href="<%= root_path %>">Promr</a>

						<!--Navegação-->
						<div class="nav-collapse collapse">
							<nav>
								<ul class="nav">
									<li class="active"><a href="#">Cupons</a></li>
                  <li><%= link_to 'Blog', '#' %></li>
                  <li><%= link_to 'Termos', terms_path %></li>
                  <li><%= link_to 'Contatos', contact_us_path %></li>
                  <li><%= link_to 'Ajuda', '#' %></li>
								</ul>
							</nav>

							<div id="controle-direita">
								<!--pesquisa-->
                <%= form_tag(search_path, method: :get, class: "navbar-search" ) do %>
                  <%= text_field_tag :search, @search, class: "search-query input-xlarge", placeholder: "Pesquisar Cupons, Lojas e Pessoas" %>
                <% end %>

								<!--controles-->
								<ul class="nav">
									<li class="divider-vertical"></li>
                  <li>
                    <a id="botao-mensagem" href="#" class="tooltipo" data-placement="bottom" title="Mensagens">
                      <% if presenter.has_unread_notifications? %>
                        <span class="badge badge-important"><%= presenter.unread_notifications_count %></span>
                      <% end %>
                    </a>
                  </li>
                  <li>
                    <a id="botao-promrbox" href="<%= root_path %>" class="tooltipo" data-placement="bottom" title="Promr Box">
                      <% if presenter.has_unread_offer_shares? %>
                        <span class="badge badge-important"><%= presenter.unread_offer_shares_count %></span>
                      <% end %>
                    </a>
                  </li>
                  <li class="dropdown">
                    <% if user_signed_in? %>
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-user icon-white"></i>&nbsp;<%= current_user.name %>&nbsp;<b class="caret"></b>
                      </a>

                      <ul class="dropdown-menu">
                        <li><a href="<%= edit_user_profile_path %>">Editar Perfil</a></li>
                        <li><a href="#">Meus Amigos</a></li>
                        <li><a href="#">Meus Cupons</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Ajuda</a></li>
                        <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
                      </ul>
                    <% else %>
                      <%= link_to 'Entrar com Facebook', user_omniauth_authorize_path(:facebook) %>
                    <% end %>
									</li><!--/dropdown-->
								</ul><!--/controles-->

							</div><!--/controle-direita-->
						</div><!--/nav-collapse-->
					</div><!--/container-->
				</div><!--/navbar-inner-->
			</div><!--/masterhead-->

			<div class="navbar navbar-toolbar navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<div class="btn-toolbar">
							<div class="btn-group">
								<a href="#" class="btn">Minhas Lojas</a>
								<a href="#" class="btn">Grupo de Lojas</a>
                <a href="<%= friends_path %>" class="btn">Minha Rede</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!--corpo da aplicação-->
		<section>
			<div class="container-fluid">
				<div class="row-fluid">
					<!--coluna esquerda-->
					<aside class="span3">
            <%= render 'user_dashboard/user_information' %>
            <%= render 'user_dashboard/my_top_friends' %>
            <%= render 'user_dashboard/my_top_badges' %>
					</aside>

          <article class="span9">
            <div class="box">
              <%= yield %>
            </div>
          </article>
				</div>
			</div>
		</section>
	</body>
</html>
